$box-size: 80px;
$box-fill: 66px;
$color-main: white;
$color-backdrop: whitesmoke;
$color-input: lemonchiffon;
$color-high-contrast: black;


html {
    font-family: 'Courier New', Courier, monospace;
    min-width: 500px;
    max-width: 1000px;
    background-color: $color-backdrop;
}

* {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 0;
}

a {
    text-decoration: none;
    display: block;
    color: $color-high-contrast;
    background-color: $color-main;
}

ul {
    list-style-type: none;
    margin: 4px;
}

button {
    background-color: $color-main;
    font-size: large;
}

select {
    background-color:$color-input;
    border: solid 1px $color-high-contrast;
    padding-left: 5px;
}

input[type=checkbox] {
    visibility: hidden;
}

li {
}

.v-space {
    margin-top: 5px;
}

.dot {
    &.black {
        color: black;
    }
    &.white {
        color: white;
        background-color: black;
    }
    &.red {
        color: tomato;
    }
    &.green {
        color: olivedrab;
    }
    &.blue {
        color: skyblue;
    }
    &.colorless {
        color: dimgray;
    }
}

.plaque {
    background-color: $color-main;
    border: solid 2px $color-high-contrast;
    box-sizing: border-box;
    padding: 2px;
}

.v-space {
    margin-top: 5px;
}

.right {
    float: right;
}

.box-fill {
    height: $box-fill;
    width: $box-fill;
}

.label {
    font-weight: bold;
}

.header {
    font-weight: bold;
    margin-top: 7px;
}

.value {
    font-weight: normal;
    margin-left: 4px;
}

//table
th {
    border: 2px solid rgb(98, 98, 98);
    padding: 2px;
}
td {
    border: 1px solid darkgray;
    padding: 2px;
}
