.decklist {
    grid-template-columns: 76% 8% 16%;
}

.playergamelist {
    grid-template-columns: 36% 32% 32%;
}

#playergamelist {
    height: 20px;
}

.gamelist {
    grid-template-columns: 36% 16% 16% 16% 16%;
}

.resultlist {
    grid-template-columns: 76% 8% 16%;
}

.rankrow {
    grid-template-columns: $box-size auto;
}

.main-links {
    background-color: lightslategray;
}

.dot {
    &.black {
        color: black;
    }
    &.white {
        color: white;
        background-color: black;
    }
    &.red {
        color: tomato;
    }
    &.green {
        color: olivedrab;
    }
    &.blue {
        color: skyblue;
    }
    &.colorless {
        color: dimgray;
    }
}

#match-balance {
    grid-template-columns: 80% 20%;
}

#evaluate-row{
    grid-template-columns: 10% 40% 10% 40%;
}

#match-player-input {
    display: flex;
}