.flex {
    display: flex;
}

.row {
    flex-direction: row;
    height: $height-row;
}

.row-content {
    height: $size-row-content;
}

.flexi.compact {
    width: min-content;
}

.column {
    flex: 50%;
}

.flex-spread {
    justify-content: space-between;
}