$height-clickable: 50px;

@media screen and (max-width: 700px){
    .clickable{
        height: $height-clickable;
    }

    select {
        font-weight: bold;
    }

    option {
        font-weight: bold;
        height: $height-clickable;
    }

    button {
        font-weight: bold;
    }

    .v-list li{
        height: $height-clickable;
        padding: 15px;
    }
}