//horizontal
.h-list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    background-color: $color-backdrop;
    margin-left: 0;

    &.footer {
        margin-top: 10px;
    }
}

.h-list li {
    padding: 7px;
    background-color: $color-main;
    border: solid black 2px;
}

//vertical
.v-list li {
    background-color: $color-main;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    margin-bottom: 2px;
}

.v-list-item {
    margin: 6px 2px;
}

.v-list .header {
    color: $color-high-contrast;
    margin-bottom: 7px;
    border-bottom: solid 2px;
}